$theme-colors: (
        "blue": #94d5da,
        "light-gray": #506a6a,
        "dark-gray": #2e494d,
        "red": #ed1c24,
        "dark-green": #3d803f,
        "green": #6aa644,
        "light-green": #a4ce4c
);

$web-colors: (
        "white": #ffffff,
        "black": #000000
);

@each $name, $color in $theme-colors{
  .background-#{$name} {
    background: $color;
  }
  .color-#{$name} {
    background: $color;
  }
}

