@font-face {
  font-family: "PT Sans Caption";
  src: url("font/pt-sans/PTC55F.ttf");
}

@font-face {
  font-family: "PT Sans Caption Bold";
  src: url("font/pt-sans/PTC75F.ttf");
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("font/pt-sans/PTN57F.ttf");
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url("font/pt-sans/PTN77F.ttf");
}

@font-face {
  font-family: "PT Sans";
  src: url("font/pt-sans/PTS55F.ttf");
}

@font-face {
  font-family: "PT Sans Italic";
  src: url("font/pt-sans/PTS56F.ttf");
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("font/pt-sans/PTS75F.ttf");
}

@font-face {
  font-family: "PT Sans Bold Italic";
  src: url("font/pt-sans/PTS76F.ttf");
}