.navbar{
  position: sticky;
  top: 0;
  height: 2.4rem;
  font-size: 1rem;
  font-family: "PT Sans";
  background-color: map_get($theme-colors, "blue");
  width: 100%;
  display: flex;
  padding: 0.3rem 5% 0.3rem 5%;
  justify-content: space-around;

  .item{
    display: block;
    width: 10%;
    height: 1.8rem;
    border-left: 0.05rem solid map_get($web-colors, "white");
    border-right: 0.05rem solid map_get($web-colors, "white");
    font-family: "PT Sans";
    font-size: 0.9rem;
    padding-top: 0.2rem;
    text-align: center;
    color:  map_get($web-colors, "black");
    text-decoration: none;
    
    &:first-child{
      border-left: none;
    }

    &:last-child{
      border-right: none;
    }
  }
}