@import "media";
@import "font";
@import "colors";
@import "top";
@import "navbar";
@import "page";
@import "body";

* {
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}