.module-container {
  .module {
    .area {
      .big-image{
        width: 100%;
        position: relative;
        height: auto;
        padding-top: 2vw;
        padding-bottom: 2vw;
        display: flex;

        .title{
          .text-box{
            font-family: "Rubik";
            color: white;
            font-size: 1.5vw;
            width: 100%;
            height: 3vw;
            .back{
              width: 100%;
              height: 100%;
              z-index: 900;
              .back-helper{
                position: relative;
                width: 70%;
                height: 100%;
                z-index: 900;
                border-bottom: map_get($theme-colors, "dark-gray") solid 0.3vw;
              }
              .first{
                background-color: map_get($theme-colors, "green");
                transform: skewX(40deg);
                border-left: map_get($theme-colors, "light-gray") solid 0.2vw;
              }
              .second{
                left: 30%;
                background-color: map_get($theme-colors, "green");
                transform: skewX(-40deg);
                top: -100%;
                border-right: map_get($theme-colors, "light-gray") solid 0.2vw;
              }
            }
            .text{
              width: 100%;
              height: 100%;
              z-index: 901;
              padding-top: 0.5vw;
              position: relative;
              top: -100%;
            }
          }

          width: 100%;
          height: fit-content;
          text-align: center;
          img{
            width: 96%;
            height: auto;
            border-bottom: map_get($theme-colors, "dark-gray") solid 0.3vw;
            border-left: map_get($theme-colors, "light-gray") solid 0.2vw;
            border-right: map_get($theme-colors, "light-gray") solid 0.2vw;
          }
        }
      }
    }
  }
}