.module-container {
  .module {
    .area {
      .information{
        width: 100%;
        position: relative;
        height: auto;
        padding-top: 2vw;
        padding-bottom: 2vw;
        display: flex;


      }
    }
  }
}